<%- include('partials/header') %>

<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <% usersWithSecrets.forEach((user)=>{ %>
  <p><%= user.email %></p>
  <% }) %>
  <div class="w-100 text-center">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Entered The Dungeon Of Secrets!</h1>
    <% usersWithSecrets.forEach((user)=>{ %>
      <% user.secret.forEach((secretItem) => { %>
        <p class="secret-text "><%= secretItem %></p>
      <% }) %>
    <% }) %>

    <hr />
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %>
