body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

/* Optional: Add vertical spacing for min-vh-100 containers */
.min-vh-100 {
  min-height: 100vh !important;
}
